<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new therapy</title>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="../bower_components/angular/angular.min.js" ></script >
</head>
<body ng-init="clicked=0">
    <h1>NEW THERAPY FORM</h1>

    <button onclick="window.location.href='therapy.html'">Back to your account</button>
    <div class="container"> <!-- Form -->
        <form ng-submit="#">
            <div class="form-group">
                <label for="#" class="control-label">....</label >
                <input type="#"
                       class="form-control"
                       ng-model="#"
                       id="#"
                       required="required" >
            </div >

            <div class="form-group">
                <label for="#" class="control-label">....</label >
                <input type="#"
                       class="form-control"
                       ng-model="#"
                       id="#"
                       required="required" >
            </div >

            <div class="form-group">
                <label for="#" class="control-label">....</label >
                <input type="#"
                       class="form-control"
                       ng-model="#"
                       id="#"
                       required="required" >
            </div >

            <div class="form-group">
                <button class="btn btn-primary"
                        type="submit">Send
                </button>
             </div>
        </form>
    </div>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="newTherapy.js"></script>
</body>
</html>