<!DOCTYPE html>
<html ng-app="therapy">
<head>
    <meta charset="UTF-8">
    <title>Therapy</title>
    <link href="/app/index.css" rel="stylesheet" type="text/css">
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="../bower_components/angular/angular.min.js" ></script>
</head>
<body>
    <div class="container"  ng-controller="PanelController as panelCtrl" ng-init="tab = 2">
            <button onclick="window.location.href='newTherapy.html'">Add new therapy</button>
            <button ng-click="panelCtrl.selectTab(1)"><a>Your therapies</a></button>
            <div class="panel" ng-show="panelCtrl.isSelected(1)" ng-controller="TherapyController as therapyCtrl">
                <h1>Your therapies</h1>
                <therapy-description ng-repeat="product in therapyCtrl.products"></therapy-description>
                <button ng-click="panelCtrl.selectTab(2)">Hide</button>
            </div>

    </div>


    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="therapy.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>