<div id="wrapper">

  <div id="sidebar-wrapper">
    <nav class="sidebar-nav">
      <ul>
        <li><a ui-sref="app.home({page: {{1}}})"><img style="width: 10.397vw; height: 3.065vw;" src="../images/leftSidebar/logo.png"></a></li>
        <li><a ui-sref="app.home({page: {{1}}})">My account</a></li>
        <li ng-repeat="therapy in therapies">
          <a ui-sref="app.therapies({therapyId: {{therapy.id}}, page: {{1}} })">
            {{therapy.name}}
          </a>
        </li>
        <li><a ui-sref="app.addTherapy">+ Add new one</a></li>
        <li><a ng-click="logout()">LOG OUT</a></li>
      </ul>
      <div id="sidebarFooter">
        <img src="../images/leftSidebar/goMobile.png"> <!--FIXME footer excapes from sidebar when screen is smaller-->
        <!--<p>Go Mobile</p>-->
        Go Mobile
      </div>
    </nav>

  </div>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <main ui-view></main>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
