<div>
  <h3>Select mood chart:</h3>
  <form ng-submit="vm.changeMoodChart()" class="form-inline">
    <div class="form-group">
      <select ng-model="vm.formMood.zones" class="form-control" >
        <option ng-selected="vm.formMood.zones === 7" value="7">Last week</option>
        <option ng-selected="vm.formMood.zones === 31" value ="31">Last month</option>
        <option ng-selected="vm.formMood.zones === 12" value="12">Last year</option>
      </select>
    </div>
    <button class="btn btn-primary">Show</button>
  </form>
  <h2>Mood chart:</h2>
  <canvas id="mood" class="chart chart-line" chart-data="vm.moodData"
          chart-labels="vm.moodLabels" chart-series="vm.moodSeries" chart-options="vm.moodOptions"
          chart-dataset-override="vm.moodDatasetOverride" chart-click="onClick">
  </canvas>
  <h3>Select activity chart:</h3>
  <form ng-submit="vm.changeActivityChart()" class="form-inline">
    <div class="form-group">
      <select ng-model="vm.formActivity.zones" class="form-control" >
        <option ng-selected="vm.formActivity.zones === 7" value="7">Last week</option>
        <option ng-selected="vm.formActivity.zones === 31" value ="31">Last month</option>
        <option ng-selected="vm.formActivity.zones === 12" value="12">Last year</option>
      </select>
    </div>
    <button class="btn btn-primary">Show</button>
  </form>
  <h2>Activity chart:</h2>
  <canvas id="activity" class="chart chart-line" chart-data="vm.activityData"
          chart-labels="vm.activityLabels" chart-series="vm.activitySeries" chart-options="vm.activityOptions"
          chart-dataset-override="vm.activityDatasetOverride" chart-click="onClick">
  </canvas>
</div>
