<div class="nav nav-tabs"> <!--FIXME responsive?-->
  <div class="mainMenu" ><!-- menu z obrazkami -->
    <ul class="list-inline">
      <li class="mainMenuLi">
        <a ui-sref="app.therapies({therapyId: {{vm.therapyId}}, page: {{1}} })">
          <figure >
            <img src="../../images/stats/ic1.png" class="figure-img img-fluid rounded" alt="Image not found">
            <figcaption >back</figcaption>
          </figure>
        </a>
      </li>
    </ul>

    <figure class="avatar">
      <img src="../../images/therapy/avatar.png" class="figure-img img-fluid rounded" alt="Image not found">
    </figure>
    <div class="helloUser">
      <p><span class="helloUser_Hello">Hello</span><span class="helloUser_Name"> Michael</span></p>
      <p>
       <span>
         <a ui-sref="app.personalization({therapyId: {{therapyId}}})">
            <img src="../../images/therapy/personalization.png" height="30px" width="30px">
         </a>
       </span>
        <span>
         <button class="logoutButton" ng-click="vm.logout()">logout</button>
       </span>
      </p>
    </div>

    <!--    <hr style="height: 1px; background-color: #e6e6e6; width: 100%;">-->
  </div>
</div>

<div>
  <div class="col-sm-6" style="margin-right: 100px;">
    <div>
      <h3>Test area:</h3>
      {{ vm.rangeDates[0] }}
      {{ vm.rangeDates[1] }}
      {{ vm.chosenMoodRange[0] }}
      {{ vm.chosenMoodRange[1] }}
      {{ vm.moodGraph }}

    </div>
    <h2>Mood chart:</h2>
    <h3>Select mood start date:</h3>
    <datepicker date-format="yyyy-MM-dd" date-min-limit="{{ vm.rangeDates[0] }}" date-max-limit="{{ vm.rangeDates[1] }}">
      <input ng-model="vm.chosenMoodRange[0]" type="text" placeholder="Kliknij, aby wybrać datę">
    </datepicker>
    <h3>Select mood end date:</h3>
    <datepicker date-format="yyyy-MM-dd" date-min-limit="{{ vm.rangeDates[0] }}" date-max-limit="{{ vm.rangeDates[1] }}">
      <input ng-model="vm.chosenMoodRange[1]" type="text" placeholder="Kliknij, aby wybrać datę">
    </datepicker>
    <form ng-submit="vm.displayMoodChart()" class="form-inline">
      <button class="btn btn-primary">Show</button>
    </form>
    <canvas id="mood" class="chart chart-line" chart-data="vm.moodData"
            chart-labels="vm.moodLabels" chart-series="vm.moodSeries" chart-options="vm.moodOptions"
            chart-dataset-override="vm.moodDatasetOverride" chart-click="onClick">
    </canvas>
    <h2>Activity chart:</h2>
    <h3>Select activity start date:</h3>
    <h3>Select activity end date:</h3>
    <canvas id="activity" class="chart chart-line" chart-data="vm.activityData"
            chart-labels="vm.activityLabels" chart-series="vm.activitySeries" chart-options="vm.activityOptions"
            chart-dataset-override="vm.activityDatasetOverride" chart-click="onClick">
    </canvas>
  </div>

</div>

<div class="col-md-5" id="rightSidebar">

</div>
