<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1>Register</h1>
      <form>
        <form ng-submit="vm.SignUp()"
              novalidate="novalidate">
          <div class="form-group">
            <label for="emailSignup" class="control-label">Email</label>
            <input type="email"
                   class="form-control"
                   ng-model="registerForm.email"
                   id="emailSignup"
                   required="required">
          </div>
          <div class="form-group">
            <label for="passwordSignup" class="control-label">Password</label>
            <input type="password"
                   class="form-control"
                   ng-model="registerForm.password"
                   id="passwordSignup"
                   required="required"
                   ng-minlength="6">
          </div>
          <div class="form-group">
            <button class="btn btn-primary"
                    type="submit">Register
            </button>
          </div>
        </form>
      </form>
    </div>
  </div>
</div>
