$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../node_modules/angularjs-datepicker/dist/angular-datepicker.css";
@import "../node_modules/angularjs-slider/dist/rzslider.scss";

body {
  overflow-x: hidden;
}

h1 {
  text-align:  center;
}

.mainBox {
  width: 70%;
}

/* formularz */

.formName {
  font-size: 1.5em;
}

.questionFrame {
  background: #F2EAE9;
  border: 1px solid #B0A7A5;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px 30px;
  width: 100%;
}

.moodForm {
  padding-top: 45px;
}

/* datepicker */


datepicker input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #B0A7A5;
  padding: 15px 30px;
}

._720kb-datepicker-calendar-month, ._720kb-datepicker-calendar-header-left, ._720kb-datepicker-calendar-header-middle, ._720kb-datepicker-calendar-header-right {
  background: #000000;
}

._720kb-datepicker-default-button {
  color: #ffffff;
}

._720kb-datepicker-calendar-month span {
  color: #ffffff;
}

._720kb-datepicker-calendar-header:nth-child(even) {
  background: #ffffff;
}

._720kb-datepicker-calendar-days-header {
  background: #333333;
}

._720kb-datepicker-calendar-days-header div {
  color: #ffffff;
}

._720kb-datepicker-calendar-day._720kb-datepicker-disabled, ._720kb-datepicker-calendar-day._720kb-datepicker-disabled:hover, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-disabled, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-disabled:hover, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active._720kb-datepicker-disabled, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active._720kb-datepicker-disabled:hover {
  color: #9C9695;
}

/* przyciski monitoringu samopoczucia terapii behawioralno-poznawczej */
.anxietyAnswer {
  width: 64px;
  height: 64px;
  background: none;
  border-radius: 32px;
  border: 2px solid #000000;
}

.anxietyAnswer:first-of-type {
  margin-right: 10px;
}

.saveMood {
  display: block;
  background: none;
  margin-top: 20px;
}

.main-content {
  width: 75%;
}
/* slider */

.rzslider .rz-tick.rz-selected{
  background: #333333;
}

.rz-bubble {
  display: none !important;
}

.rzslider .rz-pointer { /* wskaznik lekow, kulka */
  background: #333333;
}
.rz-selection { /* suwak samopoczucia */
  background: #333333 !important;
}

.rzslider .rz-pointer-min::after {
  display: none;
}
ul {
  list-style-type: none;
}

/*  Sidebar CSS TODO: someone please convert it to SASS xD */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

#lineUnderStats{
  border-style: dotted;
  height: 7px;
  width: 250px;
}

#newsField {
  line-height: 40px;
  width:  85%;
  height: 50px;
  padding: 1px;
  font-size: 120%;
  //-moz-border-radius: 35px;
  border-style: solid;
  border-width: 2px;
  //border-radius: 20px;
  //background-color: blue;
  border-color: black;
  color: silver;
  //position: top;
  bottom: 0;
  text-align: left;
  margin: 15px 15px;
  //margin-left: auto;
  //margin-right: auto;
}

/*#people {
  align-content: center;
  width: 50px;
  align-items: left;
}*/

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 260px;
  margin-left: 0px;
  text-indent: 0px;
  padding: 0;
  list-style: none;
}

#sidebarFooter
{
  line-height: 50px;
  width:  180px;
  height: 50px;
  padding: 1px;
  //-moz-border-radius: 35px;
  //border-radius: 35px;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-family: "Museo Sans Cyrl Semi-light";
  font-size: 23px;
  color: #dfe8e0;
  margin-left: 20px;
  margin-bottom: 22px;
  //margin-left: auto;
  //margin-right: auto;
}
.figure figcaption{
  text-align: center;
  margin-top: 24px;
  margin-bottom: 62px;
  font-family: "DejaVu Serif Italic";
  font-size: 16px;
  color: #000000;
}

.sidebar-nav li {
  margin-left: 0px;
  line-height: 48px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  font-family: "Museo Sans Cyrl Semi-light";
  font-size: 23px;
  color: #dfe8e0;
}
.sidebar-nav li a img{
  margin-top: 40px;
  margin-bottom: 65px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #f8faf8;
  background: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

/* login form css*/
#loginContainer{
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}

#loginForm{
  background-color: white;
  height: 462px;
  width: 382px;
  margin-top: 220px;
  margin-bottom: 220px;
  border: 1px solid #628c67;
  border-radius: 5px;
}

#loginFormLogo{
  margin-top: 36px;
  margin-bottom: 36px;
}

#email{
  height: 44px;
  width: 255px;
  border: 2px solid #eeeeee;
  color: #999999;
  font-family: Arial;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 58px;
  margin-bottom: 22px;
  padding-left: 13px
}

#password{
  height: 44px;
  width: 255px;
  border: 2px solid #eeeeee;
  color: #999999;
  font-family: Arial;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
  padding-left: 13px
}

#loginButton{
  /*margin-left: auto;
  margin-right: auto;*/
  margin-bottom: 22px;
  text-align: center;
  font-family: Arial;
  font-size: 18px;
  color: #628c67;
  background-color: #f2f2f2;
  border-color: #d9d9d9;
  height: 40px;
  width: 79px;
}

#lostPassword{
  text-align: center;
  font-family: Sans;
  font-size: 12px;
  color: #000000;
}

#registerUnderLostPassword{
  text-align: center;
  margin-top: 0;
  margin-bottom: 36px;
  padding-top: -5px;
  font-family: Sans;
  color: #000000;
  font-size: 12px;
}
/* end of login page CSS*/

/* menu gorne  CSS*/

.mainMenu {

  margin-bottom: 0px;

}

.mainMenu ul{
  display: inline-block;
  align-content: center;
 // float: left; //to wyjebuje calkowicie
  max-width: 1280px;
  position: relative;
 // margin-left: 62px;
}
.mainMenuLi{
  //display: table-cell;
 // align-content: center;
  margin-top: 40px;
  margin-right: 65px;
}

.mainMenu figcaption{
  margin-top: 24px;
  margin-bottom: 62px;
  font-family: "DejaVu Serif Italic";
  font-size: 16px;
  color: #000000;
  text-align: center;
}

.mainMenu li {
  margin-top: 40px;
  margin-right: 65px;
}


.logoutButton{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  margin-top: 16px;
  font-family: "DejaVu Serif Italic";
  font-size: 16px;
  color: #000000;
  text-align: center;
}
.helloUser{

  margin-top: 35px;
  float: right;
  //display: inline;

}
.helloUser_Hello{
  display: inline;
  font-family: DejaVu Serif Italic;
  font-size: 19px;
  color: #000000;
  text-align: center;
}

.helloUser_Name{
  display: inline;
  font-family: DejaVu Serif Italic;
  font-size: 19px;
  color: #628c67;
  text-align: center;
}

.avatar{
  margin-top: 25px;
  margin-left: 35px;
  margin-right: 0px;
  float: right;

}

.notifications{
  width: 610px;
  height: 100%;
}

.well{
  height: 94px;
  border-left: 2px solid #b5b1b2;/* other colors: #628c67 and #ff5e5b for other notifications*/
  margin-bottom: 10px;
  padding-top: 3px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  align-content: center;
}

#dailyActivity{
  height: 45px;
  text-align: left;
  padding-top: 10px;
  padding-left: 32px;
  font-family: Sans;
  border-left-color: #ff5e5b;
}

#notificationImage{
  margin-bottom: 30px;
  position: absolute;
  display: block;
}

.notificationText{
  position: absolute;
  margin-left: 116px;
  display: block;
  white-space: normal;
  text-wrap: normal;
  text-align: left;
  padding-right: 60px;
  padding-top: 28px;
  font-family: Sans;
  font-size: 16px;
  color: #628c67;
}

#therapyMemberList{
  position: relative;
  white-space: normal;
  text-wrap: normal;
  text-align: left;
  font-family: Sans;
  font-size: 16px;
  color: #628c67;
}

#therapyMemberListAvatar{
  position: relative;
}
#notificationPages{
  background-color: transparent;
  color: black;
  border-color: silver
}

.btn-group{
  text-align: center;
  margin-bottom: 15px;
}

#rightSidebar{
  display: block;
  vertical-align: top;
}

#statsHeader{
  margin-top: 60px;
  margin-bottom: 40px;
  font-family: "DejaVu Serif";
  font-size: 16px;
  color: #000000;

}

#injectedStats{
  width: 570px;
  height: 430px;
}

#therapyMemberListHeader{
  margin-top: 60px;
  margin-bottom: 40px;
  font-family: "DejaVu Serif";
  font-size: 16px;
  color: #000000;
}
/* end of therapy page CSS*/


@media(min-width: 768px) {
  #wrapper {
    // padding-left: 260px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 260px;
    background-color: #628c67;
  }

  .sidebarItem {
    color: silver;
    font-style: oblique;
    font-family: cursive;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    /* padding: 20px;*/
    position: relative;
    margin-left: 260px;
    left: 62px;
    max-width: 1280px;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

  /* stat tests */
  canvas .stat-test{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

/* start 'enter' transition on main view */
main.ng-enter {
  /* transition on enter for .5s */
  transition: .5s;

  /* start with opacity 0 (invisible) */
  opacity: 0;
}

/* end 'enter' transition on main view */
main.ng-enter-active {
  /* end with opacity 1 (fade in) */
  opacity: 1;
}
