$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../node_modules/angularjs-datepicker/dist/angular-datepicker.css";
@import "../node_modules/angularjs-slider/dist/rzslider.scss";

body {
  overflow-x: hidden;
}

h1 {
  text-align:  center;
}

.mainBox {
  width: 70%;
}

/* formularz */

.formName {
  font-size: 1.5em;
}

.questionFrame {
  background: #F2EAE9;
  border: 1px solid #B0A7A5;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px 30px;
  width: 100%;
}

.moodForm {
  padding-top: 45px;
}

/* datepicker */


datepicker input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #B0A7A5;
  padding: 15px 30px;
}

._720kb-datepicker-calendar-month, ._720kb-datepicker-calendar-header-left, ._720kb-datepicker-calendar-header-middle, ._720kb-datepicker-calendar-header-right {
  background: #000000;
}

._720kb-datepicker-default-button {
  color: #ffffff;
}

._720kb-datepicker-calendar-month span {
  color: #ffffff;
}

._720kb-datepicker-calendar-header:nth-child(even) {
  background: #ffffff;
}

._720kb-datepicker-calendar-days-header {
  background: #333333;
}

._720kb-datepicker-calendar-days-header div {
  color: #ffffff;
}

._720kb-datepicker-calendar-day._720kb-datepicker-disabled, ._720kb-datepicker-calendar-day._720kb-datepicker-disabled:hover, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-disabled, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-disabled:hover, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active._720kb-datepicker-disabled, ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active._720kb-datepicker-disabled:hover {
  color: #9C9695;
}

/* przyciski monitoringu samopoczucia terapii behawioralno-poznawczej */
.anxietyAnswer {
  width: 64px;
  height: 64px;
  background: none;
  border-radius: 32px;
  border: 2px solid #000000;
}

.anxietyAnswer:first-of-type {
  margin-right: 10px;
}

.saveMood {
  display: block;
  background: none;
  margin-top: 20px;
}

.main-content {
  width: 75%;
}
/* slider */

.rzslider .rz-tick.rz-selected{
  background: #333333;
}

.rz-bubble {
  display: none !important;
}

.rzslider .rz-pointer { /* wskaznik lekow, kulka */
  background: #333333;
}
.rz-selection { /* suwak samopoczucia */
  background: #333333 !important;
}

.rzslider .rz-pointer-min::after {
  display: none;
}
ul {
  list-style-type: none;
}

/*  Sidebar CSS TODO: someone please convert it to SASS xD */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

#lineUnderStats{
  border-style: dotted;
  height: 7px;
  width: 250px;
}

#newsField {
  line-height: 40px;
  width:  85%;
  height: 50px;
  padding: 1px;
  font-size: 120%;
  //-moz-border-radius: 35px;
  border-style: solid;
  border-width: 2px;
  //border-radius: 20px;
  //background-color: blue;
  border-color: black;
  color: silver;
  //position: top;
  bottom: 0;
  text-align: left;
  margin: 15px 15px;
  //margin-left: auto;
  //margin-right: auto;
}

/*#people {
  align-content: center;
  width: 50px;
  align-items: left;
}*/

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 180px;
  margin-left: -20px;
  padding: 0;
  list-style: none;

}

#sidebarFooter
{
  line-height: 50px;
  width:  180px;
  height: 50px;
  padding: 1px;
  font-size: 120%;
  //-moz-border-radius: 35px;
  //border-radius: 35px;
  background-color: navy;
  color: silver;
  position: fixed;
  bottom: 0;
  text-align: center;
  //margin-left: auto;
  //margin-right: auto;
}
.figure figcaption{
  color: silver;
}

.sidebar-nav li {
  text-indent: 0px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
#mainMenu {
  color: red;
  display: inline;
  width: 100%;
}
#mainMenu ul{
  //display: inline-block;
  width: 100%;
  align-content: center;
}
#mainMenu li{
  //display: table-cell;
  width: 19%;
  align-content: center;
  //height: 100px;
}
@media(min-width: 768px) {
  #wrapper {
    padding-left: 200px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 180px;
    background-color: black;
  }

  #sidebarItem {
    color: silver;
    font-style: oblique;
    font-family: cursive;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

  /* stat tests */
  canvas .stat-test{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}
