<!--<h1>Some view</h1> Left if was ever to be necessary
<button class="btn btn-danger" ng-click="vm.logout()">Logout</button>
<button class="btn" ng-click="vm.checkInterceptor()">check secure</button>-->

<div >
  <nav id="mainMenu" ><!-- menu z obrazkami -->
    <ul class="list-inline">
      <li>
        <a ui-sref="app.addTherapy">
          <figure class="figure">
            <img height="75" width="75" src="../../images/addTherapy.svg" class="figure-img img-fluid rounded" alt="Image not found">
            <figcaption class="figure-caption">Add Therapy</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure class="figure">
            <img height="75" width="75" src="../../images/goForTutorial.svg" class="figure-img img-fluid rounded" alt="Image not found">
            <figcaption class="figure-caption">Go for Tutorial</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a ui-sref="app.home">
          <figure class="figure">
            <img height="75" width="75" src="../../images/checkTheStats.svg" class="figure-img img-fluid rounded" alt="Image not found">
            <figcaption class="figure-caption"> Check the Stats</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a ui-sref="app.personalization({therapyId: {{therapyId}}})" ng-show="canEdit()">
          <figure class="figure">
            <img height="75" width="75" src="" class="figure-img img-fluid rounded" alt="">
            <figcaption class="figure-caption"></figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a ui-sref="app.editData">
          <figure class="figure">
            <img height="75" width="75" src="../../images/dataEditPerson.svg" class="figure-img img-fluid rounded" alt="Image not found">
            <figcaption class="figure-caption"><p>Lorem (edit)</p></figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="container">
  <div class="col-sm-6">

    <div ng-repeat="x in [1,2,3]" id="newsField">
      <img src="../../images/okNews.svg" height="10" width="10">      Lorem {{x}} ipsum
    </div>
    <div ng-repeat="x in [1,2,3]" id="newsField">
      <img src="../../images/wrongNews.svg" height="10" width="10">      Lorem {{x}} ipsum
    </div>
    <ul class="pagination">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
    </ul>
  </div>
  <div id="rightSidebar">
    <div class="col-sm-5">
      <img src="../../images/mockStats.svg" width="150" height="150">
      <p>MOCK STATS</p>

      <select>
        <option value="">--wybierz--</option>
        <option value="Lorem">Lorem</option>
        <option value="ipsum">ipsum</option>
        <option value="dolor">dolor</option>
      </select>



    </div>
  </div>
</div>
<button ng-click="vm.logout()">Logout</button>
