<div class="container" id="loginContainer">
  <div class="row">
    <div class="center-block" id="loginForm">
      <div id="loginFormLogo">
        <center><img src="../../images/mini-logo.svg" height="48px" width="50px"></center>
      </div>
      <h1><b>BeHappy</b></h1>
      <form ng-submit="vm.login()">
        <div class="form-group">
          <!--<label for="email" class="control-label">Email</label>-->
          <input type="email"
                 class="form-control"
                 ng-model="vm.loginForm.email"
                 id="email"
                 required="required">
        </div>
        <div class="form-group">
          <!--<label for="password" class="control-label">Password</label>-->
          <input type="password"
                 class="form-control"
                 ng-model="vm.loginForm.password"
                 id="password"
                 required="required"
                 ng-minlength="6">
        </div>
        <!--<p>Nie Posiadasz konta? <a ui-sref="register">Zarejestruj się!</a></p>-->
        <div class="form-group" style="height: 40px">
          <center><button class="btn btn-primary" id="loginButton">Login</button></center>
        </div>
      </form>
      <p id="lostPassword">lost password</p>
      <p id="registerUnderLostPassword"><a ui-sref="register">register</a></p>

    </div>
  </div>
</div>
