{{vm.therapyId}}</br>
{{vm.activityList}}</br>
{{vm.packedActivity}}</br>
{{vm.date}}</br>
<div class="col-xs-6">
  <form name="activity" >
    <datepicker date-format="yyyy-MM-dd" date-min-limit="{{ vm.minDate }}" date-max-limit="{{ vm.maxDate }}">
      <input ng-model="vm.packedActivity.date" type="text" placeholder="Kliknij, aby wybrać datę">
    </datepicker>
    <div ng-repeat="el in vm.activityList">
      <div class="form-group">
        <input class="form-control" type="text" ng-model="el.activity">
      </div>
      <div class="form-group">
        <input class="form-control" type="time" ng-model="el.startTime">
      </div>
      <div class="form-group">
        <input class="form-control" type="time" ng-model="el.endTime">
      </div>
      <div class="form-group">
        <select class="form-control" ng-model="el.mark">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div>
  </form>
  <button ng-click="vm.sendActivityData()">send</button>
  <button ng-click="vm.addActivity()">add</button>
</div>

